services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    container_name: postgres_db
    image: postgres:16-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ipe_user
      POSTGRES_PASSWORD: ipe_password
      POSTGRES_DB: ipe_services
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ipe_network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ipe_user -d ipe_services']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:

networks:
  ipe_network:
    external: true
